.boldPTag {
  color: black;
  font-weight:bold; 
  position: absolute;
  font-size:1vw;
  line-height: 1;
  text-align: right;
  font-family: 'Archivo', sans-serif;
}

.spanTag{ 
  color: #303030;
  position: relative;
  font-size:0.6vw;
  text-align: right;
  font-family: 'Archivo', sans-serif;
}

#chartContainer{
  height: 500px; 
  width: 50%;
}

#imgGraph1{
  position: absolute;
}